html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #f0f0f1;
	min-width: 0;
	color: #1e1e1e; /* matches @wordpress/components */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4;
}

a {
	color: #2271b1;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
}

a {
	outline: 0;
}

a:hover,
a:active {
	color: #135e96;
}

a:focus {
	color: #043959;
	box-shadow:
			0 0 0 1px #4f94d4,
			0 0 2px 1px rgba(79, 148, 212, 0.8);
}

p {
	line-height: 1.5;
}

.js .hide-if-js,
.no-js .hide-if-no-js {
	display: none;
}

.single-mexp-upload-request .outer-wrap {
	width: 320px;
	padding: 5% 0 0;
	margin: auto;
}

.single-mexp-upload-request .outer-wrap h1 {
	text-align: center;
}

.single-mexp-upload-request .outer-wrap h1 a {
	background-size: 84px;
	background-position: center top;
	background-repeat: no-repeat;
	color: #3c434a;
	height: 84px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 auto 25px;
	padding: 0;
	text-decoration: none;
	width: 84px;
	text-indent: -9999px;
	outline: none;
	overflow: hidden;
	display: block;
}

.single-mexp-upload-request .inner-wrap {
	margin-top: 20px;
	margin-left: 0;
	padding: 26px 24px 34px;
	font-weight: 400;
	overflow: hidden;
	background: #fff;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
}

.single-mexp-upload-request .inner-wrap .components-form-file-upload {
	text-align: center;
}

.components-editor-notices__snackbar {
	position: fixed;
	right: 0;
	bottom: 40px;
	padding-left: 16px;
	padding-right: 16px;
}
