.mexp-comparison-modal__labels {
	display: flex;
	justify-content: space-around;
	margin: 0 0 1em;
}

.mexp-comparison-modal__labels p {
	margin: 0;
}

.mexp-comparison-modal__slider {
	margin: 0 0 1em;
}

.mexp-comparison-modal__advanced {
	margin: 0 0 1em;
	padding: 1em;
	background: #f0f0f0;
	border-radius: 4px;
}

.mexp-comparison-modal__quality-control {
	margin-top: 1em;
}

.mexp-comparison-modal__reoptimizing-notice {
	margin: 0.5em 0 0;
	font-style: italic;
	color: #646970;
}

.mexp-comparison-modal__buttons {
	display: flex;
	justify-content: flex-end;
	gap: 1em;
}
