.mexp-recording__wrapper {
	position: relative;
}

.mexp-recording__rec {
	position: absolute;
	top: 1em;
	left: 1em;
	display: flex;
	align-items: center;
	color: #fff;
}

.mexp-recording__rec::before {
	content: "";
	height: 1em;
	width: 1em;
	background-color: #f00;
	border-radius: 50%;
	display: block;
	margin-right: 0.25em;
}

.mexp-recording__duration {
	position: absolute;
	top: 1em;
	right: 1em;
	color: #fff;
}

.mexp-recording__countdown {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 70px;
	font-weight: 700;
	color: #fff;
}
