.interface-preferences-modal__option--select .components-base-control__help {
	margin-left: 0;
}

.interface-preferences-modal__option--number {
	margin-top: 16px;
}

.interface-preferences-modal__option--number .components-base-control__help {
	margin-left: 0;
}
