name: Dependabot auto-merge
on:
    pull_request:
        types:
            - opened

permissions:
    contents: write
    pull-requests: write

jobs:
    dependabot:
        name: Auto-Merge
        runs-on: ubuntu-latest

        if: ${{ github.actor == 'dependabot[bot]' }}
        steps:
            - name: Dependabot metadata
              id: metadata
              uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
              with:
                  github-token: ${{ secrets.WORKFLOWS_TOKEN }}

            - name: Approve a PR
              run: gh pr review --approve "$PR_URL"
              env:
                  PR_URL: ${{ github.event.pull_request.html_url }}
                  GITHUB_TOKEN: ${{ secrets.WORKFLOWS_TOKEN }}

            - name: Enable auto-merge for Dependabot PRs
              if: ${{steps.metadata.outputs.update-type == 'version-update:semver-minor' || steps.metadata.outputs.update-type == 'version-update:semver-patch'}}
              run: gh pr merge --auto --squash "$PR_URL"
              env:
                  PR_URL: ${{ github.event.pull_request.html_url }}
                  GITHUB_TOKEN: ${{ secrets.WORKFLOWS_TOKEN }}
